<h1>Create a new List</h1>

<form action="/new_games_list" method="POST">

<p></p>
<p>
<label><strong>List Name</strong><label>
<br>
<input type="text" name="list_name">
</p>

<br>

<p>
<label>1</label>
<input type="text" name="first_game">
</p>
<br>

<p>
<label>2</label>
<input type="text" name="second_game">
</p>
<br>

<p>
<label>3</label>
<input type="text" name="third_game">
</p>
<br>


<p>
<label>4</label>
<input type="text" name="fourth_game">
</p>
<br>

<p>
<label>5</label>
<input type="text" name="fifth_game">
</p>
<br>
<br>

<input type="submit" value="Submit">

</form>