<div style="text-align: center;">
<h1>Sign Up Page</h1>
<p></p>

<form action="/signup" method="POST">

<label>Username</label>
<input type="text" name="username">
<br>
<p></p>

<label>Email</label>
<input type="text" name="email">
<br>
<p></p>

<label>Password</label>
<input type="text" name="password">
<br>

<p></p>
<p>
<input type="submit" value="Submit">
</p>
</form>

<p>
<label><strong>Or if you have an account already</strong></label>
</p>

<p>
<a href="/login">
<input type="submit" value="Login">
</a>
</p>
</div>