<div id="welcome">
<h1>Welcome to Vertex Games</h1>
</div>

<br>

<div id="welcome_page">
<p>
<a href="/login">
<input class="li" type="submit" value="Log In">
</a>
</p>


<br>
<p>
<a href="/signup">
<input class ="li" type="submit" value="Sign Up">
</a>
</p>
</div>
